@{
    ViewData["Title"] = "Add Dish";
}

<h1>Add a new Dish!</h1>
<a class="button home" href="/">Home</a>

    @model Dish
    <form asp-action="NewDish" asp-controller="Home" method="post">

    <div class="form_section">   
        <span asp-validation-for="Chef"></span>
        <label asp-for="Chef"></label>
        <input asp-for="Chef">
        
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name">

        <span asp-validation-for="Calories"></span>
        <label asp-for="Calories"></label>
        <input asp-for="Calories">
    </div>
    <div class="form_section">
        <span asp-validation-for="Tastiness"></span>
        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form_section">

        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="5" columns="5"></textarea>
        
        <input value="Add Dish" type="submit"> 
    </div>   
    </form>